<html>
<head>
    <title>{$pageTitle}</title>
    <link rel="stylesheet" href="{$templateWebPath}css/main.css" type="text/css"/>
</head>

<body>
<div id="header">
    <h1>NewsSite.local - Сайт новостей</h1>

    <div id="subscribeform">
    <form method="post" {*action="addInformation.php"*}>
        <label>
            E-mail <input type="text" name="email">
        </label>
        <input type="submit" value="Подписаться">
    </form>
    </div>

</div>

{*{include file='leftcolumn.tpl'}*}


  <div id="centerColumn">
    {*centerColumn*}