
<h2>Главные новости</h2>
{foreach $rsNews as $item}
    <a href="/?controller=Textnews&id={$item['id']}">{$item['headlineNews']}</a> <label id="newsDate">   {$item['newsDate']}</label> <br><br>
{/foreach}