body{
    padding: 0;
    display: block;
    margin: 0;
    /*background-color: #f0ead8;*/
}

#subscribeform{
    float: right;
    margin-right: 50px;

}
h1{
    margin:0 0 5px;
}

#newsDate{
    font-size: small;
    margin-left: 10px;
}

.hideme{
    display: none;
}

#header{
    height: 120px;
    text-align: center;
    background-color: lavender;



}

#leftColumn{
    height: 200px;
    float: left;
    background-color: gray;
    width: 200px;
}

#leftMenu, #loginBox, #registerBox{
    padding-bottom:20px;
}

#centerColumn{
    width: 1200px;
    margin:auto;
    padding-left: 90px;
    font-size: 20px;
    /*background-color: lavender;*/
}

#footer{
    clear: both;
    background-color: lavender;
    height: 50px;
}

.menuCaption{
    padding: 3px;
    font-weight: bold;
}

.cartBox{
    padding: 5px 0px 5px 0px;
}